<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="page_head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title>[[${title}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
    <th th:class="${(fieldName=='email' || fieldName=='id')?'hideable-column':''}"
        th:fragment="column_link(fieldName, columnLabel)">
        <a class="text-white text-decoration-none"
            th:href="@{'/users/page/'+${currentPage}+'?sortField=' + ${fieldName} + '&sortDir=' + ${sortField == fieldName ? reverseSortDir : sortDir} + ${keyword !=null ? '&keyword='+ keyword : ''}}">
            [[${columnLabel}]]
        </a>
        <span th:if="${sortField == fieldName}"
            th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
        </span>
    </th>

    <div th:fragment="footer" class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>

    <a th:fragment="page_link(pageNum , label)" class="page-link"
        th:href="@{'/users/page/'+${pageNum}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword !=null ? '&keyword='+ keyword : ''}}">[[${label}]]</a>


    <div th:fragment="category_actions(category)">
        <a th:href="@{'/category/edit/'+${category.id}}" title="Edit this category">
            <i class="fa-solid fa-pen-to-square icon-green fa-2x"></i>
        </a>
        &nbsp;
        <a th:href="@{'/category/delete/'+${category.id}}" title="delete this category" th:userId="${category.id}">
            <i class="fa-solid fa-trash icon-dark fa-2x link-delete"></i>
        </a>
    </div>
    <div th:fragment="category_status(category)">
        <a th:href="@{'/category/'+${category.id}+'/enabled/'+${category.enabled==false?true:false}}"
            th:title="${category.enabled==false?'Enable this category':'Disable this category'}">
            <i th:class="${category.enabled==false?'fa-solid fa-circle fa-2x icon-dark':'fa-solid fa-circle-check fa-2x icon-green'}"></i>
        </a>
    </div>
</body>

</html>